@font-face {
    font-family: 'Solskin DEMO Regular';
    src: url('SolskinDEMO.woff2') format('woff2'),
        url('SolskinDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boxiest Regular';
    src: url('Boxiest-Regular.woff2') format('woff2'),
        url('Boxiest-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Starshines Regular';
    src: url('Starshines.woff2') format('woff2'),
        url('Starshines.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.2s;
}

a:hover{
    color: rgb(255, 230, 117);
    text-decoration: none;
    transition: 0.2s;

}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Starshines Regular";
}

#scrollme{
    height: 100px;
    background-color: rgb(94, 35, 231);
}
.top-header {
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    max-width: 100%;
}

.top-cont {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 30px;
    width: 80px;
    height: 80px;
    animation: logoanim 3s ease-in-out infinite;
}

#Web {
    font-size: 40px;
}

.menu {
    display: flex;
    gap: 60px;
    align-items: center;
    padding: 10px 20px;
}

.hire-me {
    background-color: rgb(178, 154, 235);
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
}

.hero-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(94, 35, 231);
    padding: 50px 100px;
}

.me {
    margin-top: 30px;
    margin-left: 150px;
    border-radius: 25px;
    max-width: 400px;
    height: 600px;
    overflow: hidden;
}

.cat {
    margin-left: -65px;
    width: 490px;
    height: 600px;
}

.star {
    margin-left: -450px;
    margin-top: 120px;
    width: 100px;
    height: 100px;
    display: flex;
    animation: spins 5s ease-in-out infinite;
}

.stars {
    margin-top: 400px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    position: flex;
    animation: spins 4s ease-in-out infinite;
}

.bodyt{
    padding-left: 700px;
    flex-wrap: wrap;
    margin-top: -530px;
    padding-bottom: 20px;
}

#bigboy {
    font-size: 80px;
    font-family: "Solskin DEMO Regular";
}

#medboy {
    padding: 20px 0;
    font-size: 40px;
    font-family: "Boxiest Regular";
    opacity: 70%;
}

.smolboy {
    font-size: 25px;
    font-family: "Boxiest Regular";
    opacity: 50%;
}

#res,
#con {
    border-radius: 40px;
    padding: 25px 85px;
    font-family: "Starshines Regular";
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 30px;
}

#res {
    background-color: rgb(178, 154, 235);
    border: none;
    padding: 30px 90px;
    color: white;
}

#con {
    border-radius: 40px;
    border-width: 5px;
    border-color: rgb(178, 154, 235);
    color: rgb(24, 10, 77);
}

footer{
    height: 150px;
    background: rgb(230, 230, 230);
}

footer div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div p{
    margin-top: -5px;
    text-align: center;
    color: rgb(85, 85, 85);
    font-size: 14px;
}

.mobilemenubtn{
    display: none;
}

.mobilemenbtn img{
    width: 50px;
    display: none;
}

.mobilemenu{
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    z-index: 9999;
    display: none;
    flex-direction: column;
    justify-content: start;
    transition: all ease-in-out;
}

.mobilemenu.active{
    display: flex;
}

#mobileshow { 
    display:none; 
    }
